<header class="main-navigation">
  <div class="site-title">Isaac Chansky <span class="site-title__modifier">&mdash; Web Development + Strategy</span></div>
  <nav>
      <ul>
          <li>
              <a class="nav-anchor" href="#working">working</a>
          </li>
          <li>
              <a class="nav-anchor" href="#exploring">exploring</a>
          </li>
          <li>
              <a class="nav-anchor" href="#collaborating">collaborating</a>
          </li>
      </ul>
  </nav>
</header>
