<section class="page-section__intro pad-lg">
    <h1 class="t-jumbo">I'm Isaac.
        <br/> I make web stuff</span>.
    </h1>

    <div class="gravity-right pad-md content">
        <p class="t-linelength">I work with companies and individuals on projects that contain a spark of social good at their core. Recently, that's been fostering citizen science, educating residents about affordable housing, and making government representation more transparent.
            <a href="#collaborating"><span type="id" element="collaborating">Hit me up</span></a>, let's work&nbsp;together.</p>
    </div>

</section>
