<section id="working" class="page-section__working pad-lg">
    <h2>I work on what I believe in.</h2>
    <p class="t-linelength content">
        I've had the pleasure to work with some fantastic teams and individuals, thinking about things like:
    </p>
    <div class="work-links">
        <h3 class="t-jumbo work-headline">
            <div class="work-headline__wrapper">
                <div class="work-headline__title">Understanding environmental change</div>
                <a class="work-headline__company" href="https://iseechange.org">I See Change</a>
                <img src="/assets/flooding.png" alt="">
            </div>
        </h3>
        <h3 class="t-jumbo work-headline">
            <div class="work-headline__wrapper">
                <div class="work-headline__title">Customizing cars</div>
                <a class="work-headline__company" href="https://miniusa.com">MINI Cooper USA</a>
                <img src="/assets/mini-car.jpeg" alt="">
            </div>
        </h3>
        <h3 class="t-jumbo work-headline">
            <div class="work-headline__wrapper">
                <div class="work-headline__title">Making government more accessible</div>
                <a class="work-headline__company" href="https://mass.gov">Commonwealth of Massachusettes</a>
                <img src="/assets/boston-dome.jpeg" alt="">
            </div>
        </h3>
        <h3 class="t-jumbo work-headline">
            <div class="work-headline__wrapper">
                <div class="work-headline__title">Connecting innovators + entrepreneurs</div>
                <a class="work-headline__company" href="https://sap.mit.edu/">MIT School or Architecture + Planning</a>
                <img src="/assets/mit-gheary.jpeg" alt="">
            </div>
        </h3>
        <!-- <h3 class="t-jumbo work-headline">
            <div class="work-headline__wrapper">
                <div class="work-headline__title">Keeping companies more secure</div>
                <a class="work-headline__company" href="https://appomni.com/">Omni</a>
                <img src="/assets/secure.png" alt="">
            </div>
        </h3> -->
    </div>

</section>
