@import './variables.scss';

.content a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding: 0 0.15em;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        padding-bottom: 2px;
        bottom: 0;
        border-bottom: 1px solid $color_dark;
        transition: all 250ms ease-in-out;
    }

    &:hover:after {
        // bottom: 40%;
        border-color: $color_dark;
        border-width: 0.25em;
        bottom: calc(50% - 0.2em);
        .is-inverted & {
            border-color: $color_white;
            border-width: 0.15em;
            bottom: calc(50% - 0.1em);
        }
        .is-at-bottom & {
            border-color: lighten($color_dark, 10%) !important;
        }
    }
}



.work-headline {
    font-size: 2.5rem;
    @media screen and (min-width: 768px) {
        font-size: 4.5rem;
    }
    padding: 0;
    margin: 1rem 0;
    margin: 6rem 0;
    padding: 0;
    transition: all 750ms ease-in-out;


    img {
        position: absolute;
        opacity: 0;
        transition: top 250ms ease-in-out, opacity 250ms ease-in-out;
        top: -1rem;
        right: 0;
        max-width: 30rem;
        width: 30vw;
        transform: translateX(50%);
        z-index: -1;
    }

    .work-headline__company {
        opacity: 0;
        font-family: 'fira mono', monospace;
        font-size: 1.2rem;
        color: $color_white;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        text-decoration: none;
        transition: all 250ms ease-in-out;
    }
    .work-headline__wrapper {
        position: relative;
        z-index: 1;
        display: inline-block;
        padding-bottom: 1rem;
    }

    .work-headline__title {
        max-width: 20em;
        display: inline-block;
    }

    &:hover {
        opacity: 1 !important;
        img {
            opacity: 0.8;
            top: -2rem;
        }
        .work-headline__company {
            opacity: 1;
        }
    }

    &:nth-child(odd) img {
        right: 6rem;
    }


}
