.gravity-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

    > * {
        margin: 2rem;
    }
}

.pad-sm {
    padding: 1rem 0;
}

