@import './variables';


.main-navigation {
    border-top: 2px solid $color_light;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
        flex-direction: column;
        .site-title {
            margin-bottom: 2rem;
        }
    }
}


.main-navigation nav {
    display: flex;
    justify-content: flex-end;
}


.main-navigation ul {
    list-style: none;

}
.main-navigation li {
    padding: 0;
}
.main-navigation li a {
    text-decoration: none;
    position: relative;
    padding-left: 1rem;
    color: $color_light;
}
.main-navigation li a::before {
    content: '';
    position: absolute;
    top: calc(50% + 1px);
    left: 0;
    width: 0.5rem;
    height: 1px;
    background: $color_light;
    transition: all 250ms ease-in-out;
}

.main-navigation li a:hover,
.main-navigation li a:focus,
.main-navigation li a:visited {
    color: inherit;
}

.main-navigation li a:hover::before,
.main-navigation li a:focus::before {
    width: 100%;
    background-color: #daa520;
}
.main-navigation li a:focus {
    outline: none;
}
