@import './variables';

$inset-section-padding: 15rem 2rem;

$color_lines: rgba($color_dark, 0.06);

$unit-large: 10rem;


[class*="page-section"]:not(.page-section__collaborating) {
    // min-height: 100vh;
    @extend .pad-lg;
    padding-bottom: 30rem;
}

.page-section__intro {
    padding-top: 12rem !important;
}

.page-section__working {
    .work-links {
        margin-top: 10rem;
    }

    h2, .content {
        transition: all 250ms ease-in-out;
    }
}


body {
    transition: all 250ms ease-in-out;
    &.is-inverted {
        background: $color_dark;
        color: $color_white;
    }

    &.is-at-bottom {
        background: lighten($color_dark, 10%);
    }

    &.has-work-active {
        .work-headline {
            opacity: 0.33;
        }
    }
}
