$base-px: 16px;
$base: 1rem;
$ratio: 1.4;


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body {
  font-family: 'fira mono';
  letter-spacing: 0.2px;
  font-size: $base-px;
  font-size: $base;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'fira mono';
  margin: 0;
  padding: 0;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.45rem;
}

h1 {
  // font-size: 2.25rem;
  line-height: 1.2;
  font-size: $base * $ratio * $ratio;
}
h2 {
  font-size: $base * $ratio;
  line-height: 1.2;
}
h3 {
  font-size: $base;
  line-height: 1.2;
}
h4 {
  font-size: $base;
  line-height: 1.2;
}
h5 {
  font-size: $base ;
  line-height: 1.2;
}
h6 {
  font-size: $base;
  line-height: 1.2;
}


.t-linelength {
  max-width: 36em;
}

.big-link {
  font-size: $base * $ratio * $ratio;
}
